name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26'

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '18'

      - name: Install sqlc
        run: go install github.com/sqlc-dev/sqlc/cmd/sqlc@latest

      - name: Release
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean --release-notes docs/release-notes.md --release-footer docs/release-footer.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
